@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../../public/pexels-photonova-2872856.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  position: relative;
  width: 850px;
  max-width: 100%;
  background: #fff;
  min-height: 520px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.2),
    0px 12px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease-in-out;
}

.sign_in {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  z-index: 102;
  min-height: 500px;
  transition: all 0.6s ease-in-out;
}

.sign_up {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  z-index: 101;
  opacity: 0;
  min-height: 500px;
  transition: all 0.6s ease-in-out;
}

.signin, .signup {
  margin: 15px;
  background-color: #f0a202;
  border: none;
  height: 55px;
  width: 260px;
  border-radius: 50px;
  box-shadow: rgba(215, 200, 133, 0.878) 0px 20px 10px -15px;
  cursor: pointer;
  color: #2b2a2a;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  border: 3px solid white;
}

.signup {
  background-color: #ffee00;
}

.signin:hover, .signup:hover {
  background: white;
  font-size: 20px;
  transform: scale(1.05);
}

.signin:active, .signup:active {
  background-color: #f0a202;
  box-shadow: none;
  transform: translateY(4px);
}

.container.right_panel_active .sign_in {
  transform: translateX(100%);
}

.container.right_panel_active .sign_up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 105;
}

.overlaycon {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right_panel_active .overlaycon {
  transform: translateX(-100%);
}

.overlay {
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #ff7300, #ffee00);
  transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay {
  transform: translateX(50%);
}

.overlay_right, .overlay_left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  top: 0px;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
}

.overlay_left {
  left: 0px;
}

.overlay_right {
  right: 0px;
}

.overlayheadings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h1 {
  font-size: 26px;
  color: #333;
}

.p {
  font-size: 16px;
  line-height: 22px;
  color: #666;
}

@media (max-width: 849px) {
  .container {
    width: 90%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
  }

  .sign_in, .sign_up {
    top: 0%;
    left: 0;
    height: 50%;
    width: 100%;
    transform: translateY(0);
  }

  .signin, .signup {
    margin: 15px;
    width: 190px;
    font-size: 16px;
  }

  .container.right_panel_active .sign_in {
    transform: translateY(137px);
  }

  .container.right_panel_active .sign_up {
    transform: translateY(137px);
  }

  .overlaycon {
    left: 0px;
    top: 50%;
    height: 50%;
    width: 100%;
    z-index: 100;
    transform: translateY(0);
  }

  .container.right_panel_active .overlaycon {
    transform: translateY(-100%);
  }

  .overlay {
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(0);
  }

  .container.right_panel_active .overlay {
    transform: translateY(-100%);
  }

  .overlay_right, .overlay_left {
    flex-direction: row;
    padding: 0px 10px;
    width: 100%;
    height: 50%;
  }

  .overlay_left {
    top: 50%;
  }

  .overlay_right {
    top: 0%;
  }

  .h1 {
    font-size: 22px;
  }
}

@media (max-width: 395px) {
  .container {
    width: 340px;
  }
}
