.form {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
  height: 100%;
  text-align: center;
}
.h1 {
  margin-top: 10px;
  font-weight: bold;
}
.p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.2px;
  margin: 20px 0px;
  font-family: 'Times New Roman', Times, serif;
  color: #555;
}
.social {
  margin: 15px 0px 0px 0px;
}
.media {
  height: 40px;
  width: 40px;
  margin: 0px 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.media:hover {
  background-color: #dad8d8;
}
.inputout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 15px;
  position: relative;
}
.input {
  background: #eee;
  padding: 12px 15px;
  width: 100%;
  height: 90%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.enter {
  color: #141414;
  background: #fc9917;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: 1px solid #fc9917;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.enter:active {
  transform: scale(0.9);
}
.enter:hover {
  background: #fda42f;
  border: 1px solid #fda42f;
}
@media (max-width: 849px) {
  .form {
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  .p {
    font-size: 10px;
    line-height: 5px;
    margin: 8px 0px 10px;
  }
  .social {
    margin: 8px 0px 0px 0px;
  }
  .media {
    height: 30px;
    width: 30px;
    margin: 0px 2px;
  }
  .inputout {
    width: 100%;
    margin: 6px 5px;
  }
  .input {
    padding: 12px 15px;
    width: 100%;
    height: 90%;
  }
  .enter {
    font-size: 10px;
    padding: 12px 38px;
    margin: 6px;
  }
}
.FaIcons {
  margin-right: 10px;
}