* {
  box-sizing: border-box;
}
.chat {
  height: 100%;
  width: 100%;
  background-color: rgb(252, 251, 250);
  display: flex;
  flex-direction: column;
  position: relative;
}
.chatinfo {
  display: flex;
  justify-content: space-between;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px 10px;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  height: 5%;
  width: 100%;
  border-bottom: 1px rgb(145, 141, 141) solid;
  position: relative;
}

.additional_options > * {
  margin-right: 8px;
  /* Ensure icons and three-dots are above other content */
}

.additional_options {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 5px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 7px 7px;
  padding: 5px 10px;
  z-index: 1; /* Ensure it's above other content */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.additional_options>div{
  margin: 0;
}
.txt{
  font-size: 17px;
  display: inline;
  margin-left: 10px;
}
.messages {
  height: 85%;
  width: 100%;
  background-image: url("/Users/praphulchandra/Documents/GitHub/GSoC_Slack-Clone/src/assets/chats-bg.png");
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.chatinput {
  height: 10%;
  width: 100%;
  background-color: rgb(252, 251, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
}
.textinput {
  height: 80%;
  width: 90%;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.attachIcon {
  cursor: pointer;
  height: 42px;
  width: 34px;
  margin-left: 15px;
  margin-right: -7px;
}
.filePopup {
  position: absolute;
  top: -30px;
  right: 50px; 
  height: 35px;
  background-color: #ece7e7;
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 15px;
  color: #5a5858;
  white-space: nowrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.sendbutton {
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.sendbutton:hover {
  color: rgb(100, 97, 97);
  
}
.acceptbox {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.acceptance {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.decline,
.accept {
  margin-top: 10px;
  height: 40px;
  width: 150px;
  border-radius: 7px;
  background-color: rgb(99, 204, 99);
  cursor: pointer;
}
.decline {
  margin-left: 7px;
  background-color: red;
}
.accept:hover {
  background-color: rgb(98, 202, 98);
}
.decline:hover {
  background-color: rgb(219, 77, 67);
}
@media (max-height: 700px) {
  .chatinfo {
    font-size: 20px;
  }
}
@media (max-width: 1282px) {
  .sendbutton {
    height: 40px;
    width: 45px;
  }
}
@media (max-width: 1000px) {
  .sendbutton {
    height: 35px;
    width: 40px;
  }
  .textinput {
    width: 80%;
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .acceptance {
    flex-direction: column;
  }
  .decline {
    margin-left: 0px;
  }
  .textinput {
    width: 75%;
  }
}
@media (max-width: 400px) {
  .textinput {
    height: 90%;
    width: 70%;
  }
}
