* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure relative positioning for absolute children */
}

.input {
  width: 100%;
  padding: 10px;
  height: 85%;
  background-color: #481349;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(156, 150, 150);
  border-radius: 10px;
}
.inputBox {
  width: 90%;
  height: 85%;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.inputSearch {
  color: #7a7474;
  margin-right: 10px;
  position: absolute; /* So that it stays in place when input grows */
  left: 10px; /* Adjust positioning according to your preference */
}

/* Hide the search icon when typing */
.inputBox:focus ~ .inputSearch {
  display: none;
}


.results {
  width: 100%;
  display: grid;
  gap: 1px;
  position: absolute;
  z-index: 2;
  top: calc(
    100% + 10px
  ); /* Adjust top position to create a gap below the input */
  background-color: #fff; /* Ensure a white background for results */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for a card-like appearance */
  border-radius: 4px; /* Rounded corners for the results box */
  max-height: 300px; /* Limit max height if needed */
  overflow-y: auto; /* Enable scrolling if results exceed max height */
}

.resultItem {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer; /* Add pointer cursor for clickable items */
}

.resultItem:hover {
  background-color: #ebebeb; /* Lighten background on hover */
}

.item {
  padding: 10px;
}

.dmContact {
  border-left: 5px solid #1a73e8; /* Blue color for DM Contacts */
}

.channel {
  border-left: 5px solid #34a853; /* Green color for Channels */
}
@media (max-width: 850px) {
  .container {
    max-width: 550px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 450px;
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 350px;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 250px;
  }
}
