/* message.module.css */
* {
  box-sizing: border-box;
}
.messageCont{
  display: flex;
  align-items: end;
  position: relative;
  margin-top: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 243, 242, 0.549);
  backdrop-filter: blur(0.5px);
  max-height: 40%;
  min-height: 18px;
  max-width: 80%;
  position: relative;
  border-radius: 20px 20px 20px 0;
  margin-left: 7px;
  padding: 10px;
  overflow: hidden;
}
.img,
.video {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5%;
  object-fit: contain;
}

.date {
  font-size: 10px;
  position: absolute;
  /* bottom: 2px;
  right: 5px; */
  bottom: 0px;
  right: 10px;
}

.messageinfo {
  margin-bottom: 3px;
  margin-left: 5px;
}

.messagecontent {
  max-width: 86%;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2;
  margin-top: 2px;
  margin-left: 5px;
}

.sender {
  display: flex;
  margin: 2px;
  align-items: center;
}
.senderimgCont{
  height: 40px;
  width: 40px;
  border-radius: 25%;
  overflow: hidden;
  margin-left: 10px;
}
.senderimg {
  height: 40px;
  width: 40px;
  margin: auto;
}
.sendername {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}

